---
layout: default
---
<div id="backTop" data-toggle="tooltip" data-placement="left" title="回到顶部">
	<a href="#top"><img src="{{site.baseurl}}/images/top.png"></a>
</div>
<div class="cate">
	<p>
	{%for category in site.categories %}
	{%capture cate%}{{ category | first | capitalize }}{%endcapture%}
	<!--count how number of posts under every category-->
	{%capture cate_num%}{{ category[1].size }}{%endcapture%}
	<!--a href="#{{cate}}" id="{{cate}}" onclick="foldCategory(this)">{{cate}}</a><sup>{{cate_num}}</sup-->
	<a href="#{{cate}}">{{cate}}</a><sup>{{cate_num}}</sup>&nbsp&nbsp&nbsp
	{% endfor %}
	</p>
</div>
<div class="well_list">
	{%for category in site.categories %}
	{%capture cate%}{{ category | first | capitalize }}{%endcapture%}
	{%capture cate_num%}{{ category[1].size }}{%endcapture%}
	<h1 id="{{cate}}" onclick="foldCategory(this)" style="cursor:pointer;">{{cate}}&nbsp·&nbsp{{cate_num}}</h1>
	<ul id="ul-{{cate}}" style="display:block">
		{% for posts in category %}
			{% for post in posts %}
				{% if post.url %}
					<li><a href="{{ site.baseurl}}{{ post.url }}">{{ post.date | date: "%b %d" }} · {{ post.title }} </a></li>
				{% endif %}
			{% endfor %}
		{% endfor %}
	</ul>
	{% endfor %}
</div>
