<!--div class="container-fluid">
    <div class="row-fluid">
        <div class="span12 footer navbar-inverse navbar-fixed-bottom">
            <p class="copyright">&copy;{{ site.time | date: '%Y' }} {{ site.name }}. Powered by <a href="#">Poison</a> 
        </div>
    </div>
</div-->

        <div class="footer">
			<p class="copyright">
			<!--a href="mailto:poison11@163.com">Email:poison11@163.com</a-->
			&copy;{{ site.time | date: '%Y' }} {{ site.name }}. 
			Powered by <a href="#">Poison</a> 
        </div>

{% include disqus-counts.html %}
{% include analytics.html %}

</body>
</html>
