<!DOCTYPE html>
<html lang="en">

{% include head.html %}

<body>

<div class="navbar navbar-inverse" role="navigation">
	<div class="container">
		<div class="navbar-header">
			<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
				<span class="sr-only">Toggle navigation</span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
			</button>
			<a class="navbar-brand" href="{{ site.baseurl }}/">{{ site.name }}</a>
		</div>
		<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
			<ul class="nav navbar-nav navbar-right">
				<li class="active"><a href="{{ site.baseurl }}/">Home</a></li>
				<!--li class="active visible-xs-block"><a href="{{ site.baseurl }}/links.html">Links</a></li-->
				<li class="active"><a href="{{ site.baseurl }}/categories.html">Categories</a></li>
				<li class="active"><a href="{{ site.baseurl }}/archive.html">Archive</a></li>
				<li class="active"><a href="{{ site.baseurl }}/about.html">About</a></li>
				<!-- <li class="active"><a href="{{ site.baseurl }}/feed.xml">RSS</a></li>-->
				{% if false #site.github != '' %}
				<li class="active"><a href="https://github.com/{{ site.github }}">Github</a></li>
				{% endif %}
			</ul>
		</div>
	</div>
</div>
